{# app/Resources/views/listAccounts.html.twig #}
{{ include('base.html.twig') }}

<script src="{{ asset('js/main.js') }}"></script>

<h1>List accounts</h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..."><br/>

<table id="mySort" class="tablesorter">
    <thead>
    <tr>
        <th align="right">Username</th>
        <th>@</th>
        <th align="left">Domain</th>
        <!--<th>Password</th>-->
        <th>Quota</th>
        <th>Enabled</th>
        <th>Sendonly</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody id="myTable" class="tablesorter">
{% for item in accounts %}
    <tr>
        <td align="right">{{ item.username }}</td>
        <td>@</td>
        <td align="left">{{ item.domain }}</td>
        <!--<td>{{ item.password }}</td>-->
        <td>{{ item.quota }}</td>
        <td>{% if item.enabled %} yes {% else %} no {% endif %}</td>
        <td>{% if item.sendonly %} yes {% else %} no {% endif %}</td>
        <td>
            <a href="{{ item.id }}">edit</a>
            <a href="#" onclick="confirmAction('{{ item.username }}', 'delete/{{ item.id }}');">delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6"></td>
        <td><a href="new">+ new</a></td>
    </tr>
    </tfoot>
</table>

{{ include('base_bottom.html.twig') }}
